# Open Freelance hub
### Testing Report
###### Dean Lynch & David Weir

#### Testing the smart Contracts

The Truffle framework which we used in the development of this project allowed for the creation of unit tests written in JavaScript. We created a number of these while developing the different contracts used in the application. They can be viewed here: [test directory](./code/test).

These tests can be run using the following command in the code directory: *truffle test* (NOTE: testrpc must be running in a separate terminal window)

** _ADD A SCREENSHOT OF THE RUN TESTS_ **

#### Use Case Testing

#### Automated UI Testing

#### Real World Testing (User Testing)
