<!doctype html>
<html lang="en" ng-app="displayPage">

<head>
    <title>JobHub - My Account</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap & CSS -->
    <link rel="stylesheet" href="bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- web3.js, AngularJS -->
    <script src="js/web3.min.js"></script>
    <script src="js/angular.min.js"></script>

    <!-- Scripts & Contracts -->
    <script src="js/contractInfo.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/checkUser.js"></script>
    <script src="js/displayAccounts.js"></script>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
        <a class="navbar-brand" href="#">JobHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left side -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Jobs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="jobList.html">Job List</a>
                        <a class="dropdown-item" href="openJobs.html"> Open Jobs </a>
                        <a class="dropdown-item" href="postJob.html">Post a Job</a>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="accountList.html">Freelancers</a>
                </li>

            </ul>

            <!-- Right side -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="welcome" class="nav-link" href="account.html">Not signed in.</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" id="network" href="networkInfo.html">Network: Not detected</a>
                        <a class="dropdown-item" href="account.html">My Account</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3>Account details:</h3>
        <hr />
        <div class="row">
            <div class="col-sm-3">
                <p><b>First name:</b></p>
                <p><b>Last name:</b></p>
                <p><b>Biography:</b></p>
            </div>
            <div class="col-sm-3">
                <p><span id="firstName"></span></p>
                <p><span id="lastName"></span></p>
                <p><span id="bio"></span></p>
            </div>
        </div>
    </div>

    <div class="container" ng-controller="showAccountJobs">
        <h4>Jobs created:</h4>
        <div ng-repeat="employerJob in employerJobs">
            <div class="row justify-content-center">
                <div class="col-10 mt-3 p-3" style="background-color:white; border-radius:8px;">
                    <h2>{{employerJob.id}}</h2>
                    <h2>{{employerJob.title}}</h2>
                    <h2>{{employerJob.description}}</h2>
                    <h2>{{employerJob.payment}}</h2>
                </div>
            </div>
        </div>
        <div ng-show="!employerJobs.length" class="text-center">
            <p>User has not created any jobs</p>
        </div>

        <h4>Jobs assigned:</h4>
        <div ng-repeat="workerJob in workerJobs">
            <div class="row justify-content-center">
                <div class="col-10 mt-3 p-3" style="background-color:white; border-radius:8px;">
                    <h2>{{workerJob.id}}</h2>
                    <h2>{{workerJob.title}}</h2>
                    <h2>{{workerJob.description}}</h2>
                    <h2>{{workerJob.payment}}</h2>
                </div>
            </div>
        </div>
        <div ng-show="!workerJobs.length" class="text-center">
            <p>User has not previously been assigned any jobs.</p>
        </div>
    </div>

</body>

</html>
