<!doctype html>
<html lang="en" ng-app="displayPage">

<head>
    <title>JobHub - Job</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap & CSS -->
    <link rel="stylesheet" href="bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- web3.js, AngularJS -->
    <script src="js/web3.min.js"></script>
    <script src="js/angular.min.js"></script>

    <!-- Scripts & Contracts -->
    <script src="js/contractInfo.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/displayJobs.js"></script>
    <script src="js/bundledSearch.js"></script>
    <script src="js/JobPostInteraction.js"></script>
    <script src="js/reviewInteraction.js"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <a class="navbar-brand" href="index.html">JobHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left side -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarJobDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Jobs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarJobDropdown">
                    <a class="dropdown-item" href="jobList.html">Job List</a>
                    <a class="dropdown-item" href="openJobs.html"> Open Jobs </a>
                    <a class="dropdown-item" href="postJob.html">Post a Job</a>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="accountList.html">Freelancers</a>
            </li>

        </ul>

        <input class="col-4 form-control mr-sm-2" type="text" placeholder="Search" id="searchInput"/>
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Search
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" id="searchJobsButton">Search Jobs</a>
                <a class="dropdown-item" href="#" id="searchUsersButton">Search Users</a>
            </div>
        </div>

        <!-- Right side -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a id="welcome" class="nav-link" href="register.html">Not Registered</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarSettingsDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarSettingsDropdown">
                    <a class="dropdown-item" id="network" href="networkInfo.html">Network: Not detected</a>
                    <a class="dropdown-item" href="account.html">My Account</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container" ng-controller="checkOwner">
    <div ng-controller="acceptedApplicant">
        <div class="row justify-content-center" ng-controller="showJob">
            <div class="col-8 mt-3 p-3" style="background-color:white; border-radius:8px;">
                <h2> {{job.title}} </h2>
                <p class="pl-2" style="border-left: 3px solid #BDBDBD;"> {{job.description}} </p>
                <h5> Payment: Ξ {{job.payment}} (ETH)</h5>
                <div class="row justify-content-center" ng-show="!applicantAccepted">
                    <a class="btn btn-lg btn-primary" id="applyButton" href="#"> Apply </a>
                </div>
                <div ng-show="applicantAccepted">
                    <h5>Accepted Worker: {{worker}} </h5>
                </div>
                <div class="row justify-content-center p-3">
                    <div ng-show="applicantAccepted && isOwner">
                        <button type="button" id="completeModalButton" class="btn btn-success m-1" data-toggle="modal"
                                data-target="#completeJobModal">
                            Complete Job
                        </button>
                    </div>
                    <div ng-show="isOwner">
                        <a class="btn btn-danger m-1" id="cancelJobButton" href="#"> Cancel Job </a>
                    </div>
                    <div ng-show="isWorker">
                        <button type="button" id="confirmWorkButton" class="btn btn-success m-1" data-toggle="modal"
                                data-target="#completeWorkModal">
                            Confirm work completed
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-3 ml-3 p-3" style="background-color:white; border-radius:8px;">
                <h4> Employer </h4>
                <p> THIS WILL BE POPULATED WITH INFORMATION FROM THE ACCOUNT CLASS DEAN IS WORKING ON TEST TEST
                    TEST </p>
            </div>
        </div>

        <!-- Display Reviews -->
        <div class="container mt-3" ng-controller="showJobReviews">
            <h2> Reviews: </h2>
            <div ng-repeat="review in reviews">
                <p>{{review.reviewee}}<p>{{review.reviewID}}</p>
                <p>{{review.jobID}}</p>
                <p>{{review.reviewText}}</p>
                <p> Rating: {{review.stars}}/5</p>
                <p>{{review.reviewer}}</p>
            </div>
            <div ng-show="!reviews.length">
                <h4> No reviews </h4>
            </div>
        </div>

        <!-- Display Applicants -->
        <div class="container mt-3" ng-controller="showApplicants" ng-show="!applicantAccepted && isOwner">
            <h2> Applicants </h2>
            <div ng-repeat="applicant in applicants track by $index">
                <div class="row col-8 ml-3 mb-2" style="background-color:white; border-radius:8px;">
                    <div class="p-2">
                        <a class="btn-sm btn-success" href="#" ng-click="acceptApplicant($index)"> Accept </a>
                    </div>
                    <div class="p-2">
                        <h5><a href="#">{{applicant}}</a></h5>
                    </div>
                </div>
            </div>
            <div ng-show="!applicants.length">
                <h1> No applicants </h1>
            </div>
        </div>
    </div>
</div>

<!-- Complete Job Modal -->
<div class="modal fade" id="completeJobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please leave a review!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <textarea type="ReviewText" class="form-control" id="completeReviewTextInput"
                              placeholder="Write review here" maxlength="200" onkeyup="charCount(this)"
                              required></textarea>
                    <small id="char-count" class="form-text text-muted float-right">Max 200 characters</small>
                    <br/>
                    <div class="rating text-center">
                        <span><input type="radio" name="rating" id="star1Complete" value="1" onclick="completeRating(1)"
                                     required><label for="star1Complete"></label></span>
                        <span><input type="radio" name="rating" id="star2Complete" value="2" onclick="completeRating(2)"
                                     required><label for="star2Complete"></label></span>
                        <span><input type="radio" name="rating" id="star3Complete" value="3" onclick="completeRating(3)"
                                     required><label for="star3Complete"></label></span>
                        <span><input type="radio" name="rating" id="star4Complete" value="4" onclick="completeRating(4)"
                                     required><label for="star4Complete"></label></span>
                        <span><input type="radio" name="rating" id="star5Complete" value="5" onclick="completeRating(5)"
                                     required><label for="star5Complete"></label></span>
                    </div>
                    <span id="completeStarRating">0</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-success" id="completeJobButton" href="#"> Submit & Complete </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Complete Work Modal -->
<div class="modal fade" id="completeWorkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please leave a review!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <textarea type="reviewText" class="form-control" id="workReviewTextInput"
                              placeholder="Write review here" maxlength="200" onkeyup="charCount(this)"
                              required></textarea>
                    <small id="char-count" class="form-text text-muted float-right">Max 200 characters</small>
                    <br/>
                    <div class="rating text-center">
                        <span><input type="radio" name="rating" id="star1Work" value="1" onclick="workRating(1)"
                                     required><label for="star1Work"></label></span>
                        <span><input type="radio" name="rating" id="star2Work" value="2" onclick="workRating(2)"
                                     required><label for="star2Work"></label></span>
                        <span><input type="radio" name="rating" id="star3Work" value="3" onclick="workRating(3)"
                                     required><label for="star3Work"></label></span>
                        <span><input type="radio" name="rating" id="star4Work" value="4" onclick="workRating(4)"
                                     required><label for="star4Work"></label></span>
                        <span><input type="radio" name="rating" id="star5Work" value="5" onclick="workRating(5)"
                                     required><label for="star5Work"></label></span>
                    </div>
                    <span id="workStarRating">0</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-success" id="completeWorkButton" href="#"> Submit & Complete </a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>
